.WordsUnder{
    width: 13%;
    margin-top: 8%;
    margin-left: 2%;
    font-size: 22px;
    overflow: auto;
    position: relative;
    background-repeat: no-repeat;
}
.WordUndersitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    left: -7%;
    padding: 1.5rem 1rem;
    cursor: pointer;
    
}
.WordUndersitem a{
  text-decoration: none;
  color: rgb(4, 42, 53);
}
.WordUndersitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: radius 0.2rem;
  position: absolute;
  left: 2.5rem;
  bottom: 0.8rem;
  background-color: #33767a;
  transition: width 200ms ease-in;
}

.WordUndersitem:hover::after,
.WordUndersitem:focus::after {
  width: 70%;
}

.WordUndersitem:hover ul,
.WordUndersitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.midline{
  width: 0.7%;
  height: 200%;
  background-color: #555;
  margin-left: 15%;
  margin-top:-640px;
  position: fixed;
  z-index: -1;
}
