*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
<!--讓上方沒空隙 下面則是畫線-->

body {
  font-family: Montserrat, sans-serif;
}


.nav {
  position: fixed;
  width: 100vw;
  box-shadow: 0 0 10px #5e9da0;
  z-index: 1;

}
.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}
.nav__listlogo img{
    width:350px;
    height:50px;
    border-radius: 10px;
}
 .nav__listlogo {
      list-style: none;
      margin-right: auto;
      cursor: pointer;
}

.nav__listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    left: -7%;
    padding: 1.5rem 1rem;
    cursor: pointer;
    
}
.nav__listitem a{
  text-decoration: none;
  color: black;
}
.nav__listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: radius 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: #33767a;
  transition: width 200ms ease-in;
}

.nav__listitem:hover::after,
.nav__listitem:focus::after {
  width: 80%;
}

.nav__listitem:hover ul,
.nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.nav__listitemdrop {
  position: absolute;
  top: 3rem;
  left: 2rem;
  /*box-shadow: 0 0 10px #e1e5ee;*/
  border-radius:radius 0.2rem;
  width: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}
.nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem 0.7rem;
  border-radius: radius 0.2rem;
  box-shadow: 0 0 10px #e1e5ee;
  margin-top: -1px;
  font-size: 20px;
  transition: background-color 200ms ease-in-out;
  
  background-color: #33767a;
  position: relative;
  overflow: hidden;   
}
.nav__listitemdrop a{
text-decoration: none;
color: rgb(0, 0, 0);
}
.nav__listitemdrop li a:hover,
.nav__listitemdrop li a:focus {
  color: #f06292;
}

-------------------控制斜斜------------------------------
/* Odd stuff */
.nav__listitemdrop > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.nav__listitemdrop > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.nav__listitemdrop > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}       

/* Even stuff */
.nav__listitemdrop > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.nav__listitemdrop > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.nav__listitemdropu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.nav__listitemdrop,
.nav__listitemdrop li {
  opacity: 0;
  visibility: hidden;     
}

.nav__listitemdrop li {
  transition: .2s ease transform;
}

.nav__list > li:hover .nav__listitemdrop,
.nav__list > li:hover .nav__listitemdrop li {
  opacity: 1;
  visibility: visible;
}   

.nav__list > li:hover .nav__listitemdrop li:nth-child(even){
  transform: skewX(25deg) translateX(15px);     
}

.nav__list > li:hover .nav__listitemdrop li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);     
}