.svg_302 {
    position:absolute; 
    top: 25.5%; 
    left: 48.5%; 
    width: 21.5%; 
    height: 11%; 
    background-color:rgb(38, 171, 215);
}
.svg_303 {
    position:absolute; 
    top: 18%; 
    left: 79.5%; 
    width: 10.5%; 
    height: 24.5%; 
    background-color:rgb(249, 252, 45);
}
.svg_311 {
    position:absolute; 
    top: 51%; 
    left: 14%; 
    width: 14.5%; 
    height: 27%; 
    background-color:rgb(215, 38, 38);
}
