* {
    font-family: 'Fjalla One'; }

.classroom {
    margin: 15vh 10%;
    width: 80% ;
    height: 80%;
    position: fixed;
    background-color: #33767a;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
  
svg {
    background-color:white;
    height: 92%; 
    width: 95%;
    border-radius: 10px;
}


